body, html { 
	height: 100%;
	width: 100%;
	overflow: hidden;
}
  
header {
	width: 100%; 
	padding-top: 1%; 
	padding-bottom: 1%;
	background-color: #333;
	color: #fff;
	text-align: center;
	height: 17%;
	overflow: auto; 
}

main {
	display: flex;
	flex-direction: row;
	height: 83%; 
}

#map-container {
	flex: 2;
	position: relative;
	height: 93%;
	background-color: #f2f2f2;
}

#slider-container{
	margin-left: 10%;
	margin-right: 10%;
	height: 10%;
}

#statistics {
	flex: 1;
	background-color: #ccc;
	padding: 1em;
	margin: 0;
}slider

#world_growth{
	overflow: auto; 
	height: 20%;
	margin-left: 5%;
}

#countries_extreme_growth{
	overflow: auto; 
	height: 45%;
}
#countries_most_and_least_growth{
	display: flex;
	margin: 10px;
}
#country_tracking{
	overflow: auto; 
	height: 30%;
	margin-left: 5%;
}
#source{
	overflow: auto; 
	height: 10%;
	text-align: center; 
}

#countries_with_lowest_growth, #countries_with_highest_growth{
	flex: 1;
	text-align: center;
}
#countries_highest_or_lowest_growth{
	margin: 0px;
	margin-top: 0.7em;
	margin-bottom: 0em;
}

h3 {
	text-align: center;
	font-size: 2em;
}
h4 {
  margin-left: 10px;
  font-size: 1.5em; /* changed from cap to px */
}
p {
  margin-top: 4px;
  text-align: center;
  font-size: 1.1em; /* changed from 2px to readable minimum */
}
  

/* Draws the country borders */
.country {
	stroke: black;
	stroke-opacity: 0.5;
	stroke-width: 0.3px;
}

/* When a country is selected, its border thickens */
.country:hover{
	stroke-opacity: 1;
	stroke-width: 1.3px;
}